.error_container {
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.error_image {
  max-width: 720px;
  width: 90%;
  margin: 2rem auto 0;
}

.error_msg_container {
  margin: 30px auto 40px auto;
  max-width: 800px;
  width: 80%;
  text-align: center;
}
