.mainDetail {
  max-width: 100%;
  min-width: 320px;
  margin: 20px auto;
}

.breeds {
  width: 100%;
  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: 400px;
  gap: 20px;
  place-content: center;
}
