.loader {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 8rem;
  margin-left: 1rem;
  margin-bottom: 5rem;
  z-index: 0;
  animation: 1s 1s ball_jump infinite ease-in-out;
}

.ball:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.2);
  background: #6e64f0;
  z-index: 1;
}
.ball:focus {
  outline: none;
}
.ball:focus:after {
  animation: bounce 500ms infinite alternate;
}
@keyframes ball_jump {
  0% {
    height: 50px;
  }
  20% {
    height: 50px;
  }
  50% {
    transform: translateY(-80%);
    border-radius: 50%;
  }
  95% {
    height: 50px;
  }
  100% {
    height: 50px;
  }
}
@keyframes bounce {
  from {
    transform: scale(2);
    animation-timing-function: ease-in;
  }
  to {
    transform: scale(0.8);
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
}
@keyframes bounce_shadow {
  from {
    transform: scale(2.5, 2.6) translateY(-50%);
    animation-timing-function: ease-in;
  }
  to {
    transform: scale(0.5) translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
}
.ball:focus:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  animation: bounce_shadow 400ms infinite alternate;
  z-index: -10;
}
.dog {
  width: 100px;
  height: 100px;
  z-index: 1;
  margin-top: 10rem;
}
.dog:before {
  content: '';
  display: block;
  position: absolute;
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.03);
  transform: translateY(-30%) scale(1.5);
}
.dog * {
  position: absolute;
}
.dog_body {
  top: -50%;
  animation: dog_body 200ms ease-in-out infinite alternate;
}
.dog_body:before {
  content: '';
  position: absolute;
  bottom: 90%;
  right: 50%;
  width: 90%;
  height: 90%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  background: rgba(255, 255, 255, 0.4);
  transform-origin: right bottom;
  animation: dog_tail_blur 200ms 33.3333333333ms ease-in-out infinite alternate
    both;
}
@keyframes dog_tail_blur {
  from {
    transform: rotate(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: rotate(90deg);
    opacity: 0;
  }
}
@keyframes dog_body {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(10%);
  }
}
.dog_head {
  animation: dog_head 1800ms cubic-bezier(0.11, 0.79, 0, 0.99) infinite;
}
@keyframes dog_head {
  from,
  to {
    transform: rotate(45deg);
  }
  33.3% {
    transform: rotate(-45deg);
  }
  66.6% {
    transform: rotate(0);
  }
}
.dog_torso {
  top: -20%;
  animation: dog_torso 200ms ease-in-out infinite alternate-reverse;
}
@keyframes dog_torso {
  from {
    transform: translateX(-5%);
  }
  to {
    transform: translateX(5%);
  }
}
.dog_eyes {
  width: 60%;
  top: 55%;
  left: 20%;
  z-index: 1;
}
.dog_eyes:before {
  content: '';
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  position: absolute;
  background: orange;
  top: -10px;
  left: -10px;
  z-index: 0;
  border: 4px solid white;
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-width: 0;
  transform: rotate(-45deg);
}
.dog_eye {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  z-index: 1;
  animation: dog_eye 1800ms infinite;
}
@keyframes dog_eye {
  from,
  to {
    animation-timing-function: step-end;
    opacity: 1;
  }
  50%,
  55% {
    animation-timing-function: step-start;
    opacity: 0;
  }
}
.dog_eye:first-child {
  left: 0;
}
.dog_eye:last-child {
  right: 0;
}
.dog_muzzle {
  width: 60%;
  left: 20%;
  height: 50%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background: white;
  bottom: -15%;
}
.dog_muzzle:before,
.dog_muzzle:after {
  content: '';
  display: block;
  position: absolute;
}
.dog_muzzle:before {
  width: 6px;
  height: 20px;
  bottom: 0;
  left: calc(50% - 3px);
  background: #eaebec;
}
.dog_muzzle:after {
  background: black;
  width: 20px;
  height: 15px;
  bottom: 12px;
  left: calc(50% - 10px);
  border-bottom-left-radius: 60% 60%;
  border-bottom-right-radius: 60% 60%;
  border-top-left-radius: 50% 40%;
  border-top-right-radius: 50% 40%;
}
.dog_tongue {
  width: 40px;
  height: 100%;
  left: calc(50% - 20px);
  z-index: -1;
  transform-origin: center top;
  animation: dog_tongue 1800ms -50ms ease-in-out infinite;
}
@keyframes dog_tongue {
  from,
  to {
    transform: rotate(0);
  }
  16.6666666667% {
    transform: rotate(30deg);
  }
  33.3333333333%,
  66.6666666667% {
    transform: rotate(0);
  }
  50%,
  83.3333333333% {
    transform: rotate(-20deg);
  }
}
.dog_tongue:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: #fd3163;
  animation: dog_tongue_inner 100ms ease-in-out infinite alternate;
}
@keyframes dog_tongue_inner {
  from {
    transform: translateY(5%);
  }
  to {
    transform: translateY(22%);
  }
}
.dog_ears {
  width: 40%;
  top: 25%;
  left: 30%;
  animation: dog_ears 1800ms 100ms ease infinite;
}
@keyframes dog_ears {
  42.3%,
  71.6% {
    transform: rotate(-5deg);
  }
  50.3%,
  79.6% {
    transform: rotate(5deg);
  }
  5% {
    transform: rotate(5deg);
  }
  12% {
    transform: rotate(-5%);
  }
  from,
  33.3%,
  66%,
  to {
    transform: rotate(0);
  }
}
.dog_ear {
  bottom: -10px;
  height: 50px;
  width: 50px;
  background: #eaebec;
  animation-duration: 400ms;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.dog_ear:first-child {
  border-bottom-left-radius: 80%;
  border-top-right-radius: 80%;
  right: 100%;
  box-shadow: inset -15px 15px 0 1px white;
  transform-origin: right bottom;
  transform: rotate(10deg);
}
.dog_ear:last-child {
  border-top-left-radius: 80%;
  border-bottom-right-radius: 80%;
  left: 100%;
  box-shadow: inset 15px 15px 0 0 white;
  transform-origin: left bottom;
  transform: rotate(-10deg);
}
.dog_tail {
  width: 22px;
  height: 24.2px;
  background: white;
  bottom: 40%;
  border-radius: 11px;
  left: calc(50% - 11px);
  transform-origin: center bottom;
}
.dog_tail .dog_tail {
  animation: dog_tail_segment 200ms ease-in-out infinite alternate;
}
@keyframes dog_tail_segment {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}
.dog_body > .dog_tail {
  bottom: 90%;
  animation: dog-tail 200ms ease-in-out infinite alternate;
}
@keyframes dog_tail {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}
.dog_body,
.dog_torso,
.dog_head {
  border-radius: 50%;
  background: white;
  position: absolute;
  height: 100%;
  width: 100%;
}
.dog_body,
.dog_torso {
  box-shadow: inset 0 -15px 0 0 #eaebec;
}
